header {
	background-color: #000000;
}
body.logi{
	margin:0;
	color:#6a6f8c;
	background:url(../img/logo.png) no-repeat;
	background-size: cover;
	font:500 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	
	width:100%;
	margin:auto;
	max-width:500px;
	min-height:520px ;
	position:relative;
	transform: translateY(10%);
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	

	background:rgba(140,125,125,.9);
}

.login-html .sign-in{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}


.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .form-control,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button,
.login-form .group .form-control{
 
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label,
.login-form .group .form-control{
	/*color texto login */
	color:black;
	font-size:12px;
}
.login-form .group .button{
	background:#F2330D;
}



